{% load static %}

<div class="header_content">
    <img class="header_logo_img" src="{% static 'img/tex_up.png' %}"
         alt="logo">
    <div class="header_title">
        <p class="header_title_p_big">Сервисный центр</p>
        <p class="header_title_p_small">по ремонту электронной техники</p>
    </div>
    <div class="header_phone">
        <a class="header_title_p_big_work"
           href="tel:+79300715225">+79300715225</a>
        <p class="header_title_p_small">Связаться с нами!</p>
    </div>
    <div class="header_time_work">
        <p class="header_title_p_big_work">Режим работы:</p>
        <p class="header_title_p_small">С 10:00 до 19:00</p>
    </div>
    <div class="header_button">
        <button class="header_button_master"
                onclick="openWindow()">
            Вызвать мастера
        </button>
    </div>
</div>